@import "../../style/variables.scss" ;
$red : #eb4d4b;
$black : #130f40;
$light-color : #666;
$light-bg : #f9f9f9;
$border : .1rem solid rgba(0,0,0,.3);
$box-shadow : 0 .5rem 1rem rgba(0,0,0,.1);
$section_padding:2rem 9%;



@mixin grid($value) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap:1.5rem;
}

%text-stroke{
    color:#fff;
    cursor: pointer;
    -webkit-text-stroke: .1rem $black;

    &:hover{
        -webkit-text-stroke: .1rem $red;
    }
}


.container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 2rem;
  display: flex;

  .div {
    padding: 1rem;
    margin: 0.2rem;
    border-radius: .5rem;
    border:$border;
    box-shadow: $box-shadow;
    text-align:left;
    font-size: 1.5rem;
    line-height: 2;
    color:$light-color;
}

h3 {
  font-size: 1.5rem;
  padding:1rem 0;
  color:$black;
}

.img {
  width: 20rem;
  height: 100%;
  object-fit: cover;
  object-position:center;
}


}

@media (max-width: 1200px) {
  .container {
  width: 100%;
  }
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    width: 100%;

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position:center;
    }
  }


}